:root {
  --main-text-color: #19385d;
  --bgc-header-menu: #3a6fc9;
  --secondary-text-color: #ffffff;
  --title-color: #0c3e96;
  --bcg-color: #ebf3ff;
  --white-bgc: #ffffff;
  --item-block-bgc: #648dd4;
  --bgc-date: #dd2a1b;
  --bgc-hero-card: #f53323;

  /* --team-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --logo-font: 'Raleway', sans-serif;
  --filter-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --one-item: 1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms; */
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
  /* transform: scale(1.1); */
  font-weight: 800;
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}
.header .container {
  padding-left: 0px;
  padding-right: 0px;
}

.section {
  padding-top: 134px;
}
.section-master {
  padding-top: 29px;
}

.title {
  font-weight: 800;
  font-size: 44px;
  line-height: 1.14;
  color: var(--title-color);
  text-transform: uppercase;
}

.wrapper-date {
  width: 65px;
  border-radius: 4px;
  background-color: var(--bgc-date);
  margin-left: auto;
}

.wrapper-date__hero {
  border-left: 1px solid #ffffff;
  background-color: transparent;
  transform: skewX(-10deg);
}

/* Header */
.header-logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 10px;
}

.header .menu {
  display: flex;
  background-color: var(--bgc-header-menu);
  height: 74px;
  align-items: center;
  justify-content: center;
}
.navigation::before {
  content: '';
  background-image: url(../images/svg/pyzzle.svg);
  width: 200px;
  height: 74px;
  position: absolute;
}

.navigation-logo {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  margin-right: 11px;
}
.logicrgb {
  background-image: url(../images/sec-hero/svg/logichero.svg);
}

.logicrgb:hover {
  background-image: url(../images/sec-hero/svg/logicrgb.svg);
  cursor: pointer;
}

.coinrgb {
  background-image: url(../images/sec-hero/svg/coinhero.svg);
}

.coinrgb:hover {
  background-image: url(../images/sec-hero/svg/coinrgb.svg);
  cursor: pointer;
}

.chessrgb {
  background-image: url(../images/sec-hero/svg/chesshero.svg);
}

.chessrgb:hover {
  background-image: url(../images/sec-hero/svg/chessrgb.svg);
  cursor: pointer;
}
.classicsrgb {
  background-image: url(../images/sec-hero/svg/classicshero.svg);
}

.classicsrgb:hover {
  background-image: url(../images/sec-hero/svg/classicsrgb.svg);
  cursor: pointer;
}
.holidayrgb {
  background-image: url(../images/sec-hero/svg/holidayhero.svg);
}

.holidayrgb:hover {
  background-image: url(../images/sec-hero/svg/holidayrgb.svg);
  cursor: pointer;
}

.navigation .menu-item:not(:last-child)::after {
  content: '';
  background-image: url(../images/svg/svg/slash.svg);
  width: 9px;
  height: 23px;
  background-position: center;
  background-repeat: no-repeat;
}

.header .menu-item:last-child {
  margin-right: 0px;
}

.header .menu-item {
  font-size: 12px;
  line-height: 1.08;
  font-weight: 400;
  color: var(--secondary-text-color);
  text-transform: uppercase;

  display: flex;
  width: 140px;
  align-items: center;
  margin-right: 43px;
}

/* section-master */

.section-master .main-title {
  text-align: center;
  margin-bottom: 32px;
}

.bcg {
  background-color: var(--bcg-color);
}

.main-list {
  display: flex;
  justify-content: space-between;
}

.main-item {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-item__master {
  width: 440px;
  background-color: var(--white-bgc);
  /* padding-left: 35px; */
  border-radius: 0px 0px 15px 15px;
}

.main-img {
  border-radius: 15px 15px 0px 0px;
}

.main-item__block {
  width: 440px;
  background-color: var(--bgc-hero-card);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 36px;
}

.item-title {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--secondary-text-color);
}

.item-title .modification {
  font-weight: 600;
  font-size: 28px;
  line-height: 0.79;
  margin-left: 5px;
}

.item-title__hero::before {
  display: block;
  content: '';
  height: 22px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 9px;
}

.icon-coin::before {
  background-image: url(../images/svg/svg/coinpuzzles.svg);
}

.icon-quizzes::before {
  background-image: url(../images/svg/svg/puzzlequizzes.svg);
}
.icon-logic::before {
  background-image: url(../images/svg/svg/logicproblems.svg);
}
.item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--secondary-text-color);
}

.wrapper-date > .item-text {
  padding: 6px 12px;
  text-align: center;
  transform: skewX(10deg);
}

.item-text .decoration-text {
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.item-text .main-item__master {
  width: 440px;
  background-color: var(--white-bgc);
  /* padding-left: 35px; */
  border-radius: 0px 0px 15px 15px;
}

.main-item__title {
  font-weight: 800;
  font-size: 21px;
  line-height: 1.05;
  padding: 20px 0px 20px 35px;
  text-transform: uppercase;
}

.main-item__title.position {
  padding: 25px 127px 20px 53px;
}

.main-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  padding: 0px 41px 40px 35px;
}

.main-item__text.current {
  padding-right: 10px;
}

/* section PUZZLE CLASSICS  */
.section-title {
  margin-bottom: 359px;
  display: flex;
  align-items: center;
}

.pzlclassic .section-title::before {
  content: '';

  display: block;
  margin-right: 35px;
  margin-left: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-classicsrgb::before {
  width: 48px;
  height: 78px;
  background-image: url(../images/svg/svg/puzzleclassicsrgb.svg);
}

.logo-chesspuzzgrin::before {
  width: 56px;
  height: 77px;
  background-image: url(../images/svg/svg/chesspuzzgrin.svg);
}

.logo-coinrgb::before {
  width: 70px;
  height: 77px;
  background-image: url(../images/svg/svg/coinpuzzlesrgb.svg);
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.section-item {
  position: relative;
}
.classic .section-item {
  position: relative;
  /* margin-right: 27px; */
  width: calc((100%-54px) / 3);
  margin-bottom: 400px;
}
.section-item:nth-child(3n) {
  margin-right: 0;
}
.classic .section-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.chess .section-item__block {
  left: 16px;
}
.section-item__block {
  width: 440px;
  height: 42px;
  background-color: var(--item-block-bgc);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 4px;
  transform: skewX(-10deg);
  position: absolute;
  z-index: 2;
  top: -40px;
  left: 18px;
  padding-left: 36px;
}
.chess .item-title {
  align-items: baseline;
  padding-top: 9px;
  padding-bottom: 4px;
}
.chess .item-title:not(:first-child) {
  padding-left: 20px;
}

/* .section-item__block.item-title {
  padding-left: 35px;
} */

.section-item__master {
  width: 440px;
  background-color: var(--bcg-color);
  /* padding-left: 35px; */
  border-radius: 0px 0px 15px 15px;
  transform: skewX(-10deg);
}

.transformation {
  transform: skewX(10deg);
}

/* section PUZZLE CLASSICS */

.wrap-img {
  position: absolute;
  transform: translate(25%, -107%);
  width: 286px;
  height: 280px;
}

.section-item__master .main-item__text {
  padding-left: 53px;
}

.wrapper-drop {
  display: flex;
  justify-content: space-between;
}
.arrow-down {
  position: absolute;
  transform: translateY(34px);
  padding-left: 596px;
  pointer-events: none;
}
.arrow-down::before {
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/svg/arrowdown.svg);
}
.drop {
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 619px;
  height: 32px;
  margin-top: 22px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}
.drop-style {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  color: var(--item-block-bgc);
  cursor: pointer;
  border: 0.5px solid var(--item-block-bgc);
  border-radius: 4px;
}

/* section COIN PUZZLES */
.coin-section .item-title {
  padding-top: 20px;
  padding-bottom: 28px;
  padding-left: 0;
}
.coin-img {
  position: absolute;
  top: 50%;
  transform: translate(35%, -50%);
  margin-left: 25px;
}
.coin-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.05;

  color: var(--secondary-text-color);
}
.coin .item-title {
  align-items: baseline;
}

.coin-text {
  display: flex;
}
.coin-section .section-title {
  margin-bottom: 86px;
}
.coin .item-title:not(:first-child) {
  padding-left: 15px;
}

.coin-wrap {
  width: 1440px;
  background-color: var(--main-text-color);
  margin-left: auto;
  margin-right: auto;
}
.coin-wrap .main-item__text {
  color: var(--secondary-text-color);
  padding: 0;
  width: 291px;
  margin-bottom: 51px;
}
.wrapper-img {
  position: relative;

  margin-top: 43px;
  width: 200px;
  height: 250px;
  position: relative;
  margin-bottom: 40px;
}

.coin-item:not(:last-child)::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/svg/line-coin.svg);
  width: 87px;
  height: 511px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 312px;
}

.coin-img:not(:last-child) {
  margin-left: 25px;
}
.flex-item {
  margin-left: 43px;
}
