/* classes are written according to the BEM methodology */

/* common styles */

:root {
  --main-text-color: #19385d;
  --secondary-text-color: #ffffff;
  --title-color: #0c3e96;

  --bgc-header-menu: #3a6fc9;
  --bcg-color: #ebf3ff;
  --white-bgc: #ffffff;
  --item-block-bgc: #648dd4;
  --bgc-date: #dd2a1b;
  --bgc-hero-card: #f53323;
  --bcg-color-footer: #19385d;

  --transition: 250ms;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
  font-weight: 800;
  transition: var(--transition);
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}

.header__container {
  padding-left: 0px;
  padding-right: 0px;
}

.menu-link {
  display: flex;
  align-items: center;
}

.menu-link:hover,
.menu-link:focus {
  transition: var(--transition);
}

.main {
  padding-top: 29px;
}

.title {
  font-weight: 800;
  font-size: 44px;
  line-height: 1.14;
  color: var(--title-color);
  text-transform: uppercase;
}

.item-title {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--secondary-text-color);
}

.modification {
  font-weight: 600;
  font-size: 28px;
  line-height: 0.79;
  margin-left: 5px;
}

.section-title {
  display: flex;
  align-items: center;
}

.section-indent {
  margin-top: 359px;
  padding-bottom: 40px;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 50px; */
}

.section-item {
  position: relative;
  width: calc((100%-54px) / 3);
  margin-bottom: 400px;
}

.section-item:hover,
.section-item:focus {
  /* transform: scale(1.03);
  transition: var(--transition); */
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.08;
  font-weight: 400;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  display: flex;
  width: 147px;
  align-items: center;
  margin-right: 43px;
}

.aside__title {
  font-weight: 800;
  font-size: 21px;
  line-height: 1.05;
  text-transform: uppercase;
}

.aside__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  padding: 0px 41px 40px 53px;
}

.wrap-img {
  position: absolute;
  transform: translate(33%, -107%);
  width: 286px;
  height: 280px;
}
.wrapper-img {
  position: relative;
  width: 200px;
  height: 250px;
  margin-top: 43px;
  margin-bottom: 40px;
}

.wrapper-date {
  width: 65px;
  border-radius: 4px;
  background-color: var(--bgc-date);
  margin-left: auto;
}

.aside__wrapper-date {
  border-left: 1px solid #ffffff;
  background-color: transparent;
  transform: skewX(-10deg);
}

.transformation {
  transform: skewX(10deg);
}

/* dropdown */

.wrapper-drop {
  display: flex;
  justify-content: space-between;
}

.dropdown-wrap {
  position: relative;
}

.dropdown {
  display: inline-block;
  margin-top: 22px;
  position: absolute;
  top: 0px;
  right: 0;
}

/* #btn-classics {
  display: none;
}

#btn-classics:checked + .drop-btn .link-drop {
  display: block;
} */
.btn:checked + .drop-btn {
  width: 619px;
  height: 109px;
}

.btn:checked + .drop-btn .dropdown__arrow::after {
  background-image: url(../images/svg/arrowup.svg);
}

.wrap-link {
  padding-top: 3px;
}
.link-drop {
  text-decoration: none;
  color: inherit;
  display: none;
  padding: 7px 0px 0px 0px;
}

.link-drop:hover {
  background-color: var(--bcg-color);
  cursor: pointer;
  transform: scale(0.998);
}

.drop-btn {
  height: 32px;
  display: inline-block;
  border: 0.5px solid var(--item-block-bgc);
  border-radius: 4px;
  color: var(--item-block-bgc);
  background-color: var(--white-bgc);
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  width: 619px;
  padding-left: 10px;
  padding-top: 5px;
}

.dropdown__arrow {
  position: absolute;
  z-index: 5;
  transform: translateY(13px 30px);
  pointer-events: none;
  transform: translate(-13px, 13px);
  top: 0;
  right: 0;
}

.dropdown__arrow::after {
  content: '';
  display: block;
  width: 13px;
  height: 8px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/svg/arrowdown.svg);
}

/* .wrapper-drop {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  display: inline-block;
  width: 619px;
  margin-top: 22px;
  height: 33px;
  position: relative;
}

.dropdown__content:hover ~ .drop-btn .dropdown__content:focus ~ .drop-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

.dropdown__content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  height: 0;
  width: 619px;
  padding-top: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  border: 0.5px solid var(--item-block-bgc);
  border-radius: 4px 4px 4px 4px;
  color: var(--item-block-bgc);
  background-color: transparent;
  outline: none;
}

.dropdown:active .dropdown__content {
  z-index: 3;
  -webkit-transition-delay: 0s;
}

.dropdown__content:hover {
  height: 120px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

.dropdown__list {
  background-color: var(--white-bgc);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
}

.dropdown__content:hover .dropdown__list {
  border-top: 0.5px solid var(--item-block-bgc);
}

.dropdown__item {
  padding: 5px 0px 5px 10px;
  color: var(--item-block-bgc);
  background-color: var(--white-bgc);
}

.dropdown__item:hover {
  background-color: var(--bcg-color);
  cursor: pointer;
  transform: scale(0.99);
}

.drop-btn {
  height: 33px;
  width: 100%;
  display: inline-flex;
  z-index: 2;
  position: relative;
  border: 0.5px solid var(--item-block-bgc);
  border-radius: 4px;
  color: var(--item-block-bgc);
  background-color: var(--white-bgc);
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  width: 619px;
  padding-left: 10px;
  align-items: center;
}

.dropdown__arrow {
  position: absolute;
  z-index: 5;
  transform: translateY(13px 30px);
  pointer-events: none;
  transform: translate(-13px, 13px);
  top: 0;
  right: 0;
}

.dropdown__arrow::after {
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/svg/arrowdown.svg);
} */

/* Header */
.header__logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 10px;
}

.navigation__menu {
  display: flex;
  height: 74px;
  margin-left: 89px;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-header-menu);
}

.navigation::before {
  content: '';
  width: 200px;
  height: 74px;
  position: absolute;
  background-image: url(../images/svg/pyzzle.svg);
}

.navigation__item:not(:last-child)::after {
  content: '';

  width: 9px;
  height: 23px;
  background-image: url(../images/svg/svg/slash.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__item:last-child {
  margin-right: 0px;
}

.navigation__logo::before {
  content: '';
  display: block;
  width: 55px;
  height: 45px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center;
  transition: var(--transition);
}

.logicrgb::before {
  background-image: url(../images/sec-hero/svg/logichero.svg);
}

.logicrgb:hover::before,
.logicrgb:focus::before {
  background-image: url(../images/sec-hero/svg/logicrgb.svg);
}

.coinrgb::before {
  background-image: url(../images/sec-hero/svg/coinhero.svg);
}

.coinrgb:hover::before,
.coinrgb:focus::before {
  background-image: url(../images/sec-hero/svg/coinrgb.svg);
  cursor: pointer;
}

.chessrgb::before {
  background-image: url(../images/sec-hero/svg/chesshero.svg);
}

.chessrgb:hover::before,
.chessrgb:focus::before {
  background-image: url(../images/sec-hero/svg/chessrgb.svg);
  cursor: pointer;
}
.classicsrgb::before {
  background-image: url(../images/sec-hero/svg/classicshero.svg);
}

.classicsrgb:hover::before,
.classicsrgb:focus::before {
  background-image: url(../images/sec-hero/svg/classicsrgb.svg);
  cursor: pointer;
}
.holidayrgb::before {
  background-image: url(../images/sec-hero/svg/holidayhero.svg);
}

.holidayrgb:hover::before,
.holidayrgb:focus::before {
  background-image: url(../images/sec-hero/svg/holidayrgb.svg);
  cursor: pointer;
}

/* section-master */
.main__title {
  text-align: center;
  margin-bottom: 32px;
}

.bcg {
  background-color: var(--bcg-color);
}

.main__list {
  display: flex;
  justify-content: space-between;
}

.main__item {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main__item:hover,
.main__item:focus {
  transform: scale(1.02);
  transition: var(--transition);
}

.main-item__master {
  width: 440px;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--white-bgc);
}

.main__img {
  border-radius: 15px 15px 0px 0px;
}

.main__aside {
  width: 440px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgc-hero-card);
}

.main__svg::before {
  content: '';
  display: block;
  height: 22px;
  width: 20px;
  margin-right: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-coin::before {
  background-image: url(../images/svg/svg/coinpuzzles.svg);
}

.icon-quizzes::before {
  background-image: url(../images/svg/svg/puzzlequizzes.svg);
}

.icon-logic::before {
  background-image: url(../images/svg/svg/logicproblems.svg);
}

.aside__text-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
  color: var(--secondary-text-color);
  transform: skewX(10deg);
}

.aside__text--bold {
  font-weight: 700;
  font-size: 18px;
  display: block;
}

.main__aside-master {
  width: 440px;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--white-bgc);
}

.section-item__master {
  width: 440px;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--bcg-color);
  transform: skewX(-10deg);
}

.aside__title--position {
  padding: 25px 127px 20px 53px;
}
.aside-master__title {
  padding: 20px 127px 20px 35px;
}
.aside__text--position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  padding: 0px 41px 40px 35px;
}

/* section PUZZLE CLASSICS  */
.section-classics {
  padding-top: 80px;
}
#btn-classics {
  display: none;
}

#btn-classics:checked + .drop-btn .link-drop {
  display: block;
}
.logo__title::before {
  content: '';
  display: block;
  margin-right: 35px;
  margin-left: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.classic__logo-classicsrgb::before {
  width: 48px;
  height: 78px;
  background-image: url(../images/svg/svg/puzzleclassicsrgb.svg);
}

.chess__logo-chesspuzzgrin::before {
  width: 56px;
  height: 77px;
  background-image: url(../images/svg/svg/chesspuzzgrin.svg);
}

.coin__logo-coinrgb::before {
  width: 70px;
  height: 77px;
  background-image: url(../images/svg/svg/coinpuzzlesrgb.svg);
}
.logic__logo-logicrgb::before {
  width: 76px;
  height: 76px;
  background-image: url(../images/svg/svg/logicrgb.svg);
}

.section-item:nth-child(3n) {
  margin-right: 0;
}

.section-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-item__block {
  position: absolute;
  z-index: 2;
  top: -40px;
  left: 18px;
  width: 440px;
  height: 42px;
  padding-left: 36px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: var(--item-block-bgc);
  transform: skewX(-10deg);
}

.section-item__block--position {
  left: 16px;
}

/* section CESS PUZZLES */
.coin-container {
  padding: 0px 0px 40px 0px;
  position: relative;
}

.section-chess {
  padding-top: 40px;
}

#btn-chess {
  display: none;
}

#btn-chess:checked + .drop-btn .link-drop {
  display: block;
}

.chess__item-title {
  padding-top: 9px;
  padding-bottom: 4px;
  align-items: baseline;
}

.chess__item-title:not(:first-child) {
  padding-left: 20px;
}

/* section COIN PUZZLES */

.coin-section {
  padding-top: 40px;
}

#btn-coin {
  display: none;
}

#btn-coin:checked + .drop-btn .link-drop {
  display: block;
}

.section__column {
  position: absolute;
  width: 428px;
  height: 511px;
  background-color: var(--bcg-color-footer);
  clip-path: polygon(21% 0, 100% 0, 79% 100%, 0 100%, 0 100%);
}

.section__column--left {
  width: 423px;
  height: 511px;
  background-color: var(--bcg-color-footer);
  clip-path: polygon(0% 0, 100% 0, 79% 100%, 0 100%, 0 100%);
}

.section__column--second {
  left: 336px;
}

.section__column--third {
  left: 676px;
}

.section__column--right {
  width: 423px;
  height: 511px;
  background-color: var(--bcg-color-footer);
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}

.coin__wrapper--indent {
  margin-bottom: 68px;
}

.coin__img {
  position: absolute;
  top: 50%;
  transform: translate(35%, -50%);
}

.coin__aside--wrap {
  display: flex;
}

.coin__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.05;
  color: var(--secondary-text-color);
}

.coin__aside-title {
  padding-top: 16px;
  padding-bottom: 25px;
  padding-left: 0;
  display: flex;
  align-items: baseline;
}

.coin__item-title:not(:first-child) {
  padding-left: 15px;
}

.aside__text--changes {
  width: 291px;
  margin-bottom: 51px;
  padding: 0;
  color: var(--secondary-text-color);
}

.coin__img.keypart {
  margin-left: 32px;
}
.coin__img.eurotodollar {
  margin-left: 101px;
}

.coin__img.coincup {
  margin-left: 108px;
}

.coin__img.triangles {
  margin-left: 58px;
}

.flex-item-first {
  margin-left: 45px;
}

.flex-item-center {
  margin-left: 65px;
}

.flex-item-last {
  margin-left: 75px;
}

.coin__title-svg::after {
  content: '';
  width: 36px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/sec-coin/svg/cointitlesvg.svg);
}

.coin__title-svg--another::after {
  width: 22px;
  height: 22px;
  background-image: url(../images/sec-coin/svg/cointraingles.svg);
}

.coin__wrapper-date {
  border-radius: 4px 0px 0px 4px;
  transform: skewX(-10deg);
}

.coin__date {
  position: absolute;
  margin-left: 228px;
  transform: translate(0, -100%);
}

/* section LOGIC PROBLEMS */
.logic-section {
  padding-top: 40px;
}

#btn-logic {
  display: none;
}

#btn-logic:checked + .drop-btn .link-drop {
  display: block;
}

.logic__section-title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.logic__img {
  width: 707px;
  height: 348px;
}

.logic__item {
  position: relative;
  width: 550px;
  margin-bottom: 70px;
  flex-basis: calc((100% - 66px) / 2);
}

.logic__item:hover,
.logic__item:focus {
  /* transform: scale(1.01);
  transition: var(--transition); */
}

/* .logic__item:not(:last-child) {
  margin-right: 161px;
} */

.logic__item-block {
  width: 647px;
  height: 42px;
  top: -40px;
  left: 0px;
  transform: skewX(0deg);
  border-radius: 0px 0px 40px 4px;
  display: flex;
  align-items: center;
  background-color: var(--item-block-bgc);
}

.logic__wrapper-date {
  width: 73px;
  height: 40px;
  right: 0;
  position: absolute;
  border-radius: 4px 0px 4px 4px;
  transform: skewX(-10deg);
}

.logic__aside-title {
  padding: 61px 0px 20px 35px;
}

.logic__aside-title--revers {
  padding: 0px 0px 20px 35px;
}

.logic__aside-text {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 35px;
}

.logic__wrap-item {
  width: 550px;
}
.logic__wrap-item:not(:last-child) {
  margin-right: 161px;
}

.logic__wrap-img {
  width: 707px;
  height: 348px;
  border-radius: 10px 10px 0px 0px;
}

.logic__wrap-img::after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 650px;
  margin-right: auto;
  height: 40px;
  margin-left: 1px;
  background-image: url(../images/sec-logic/logic-header-left.png);
}

.logic__wrap-img--reverse {
  margin-left: -59px;
}

.logic__wrap-img--reverse::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 649px;
  margin-right: 1px;
  height: 40px;
  margin-left: auto;
  background-image: url(../images/sec-logic/logic-header-right.png);
}

/* .logic__title:not(:last-child) {
  padding-right: 20px;
  align-items: baseline;
} */

.logic__aside-text--revers {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 23px;
  padding-left: 20px;
}

.logic__header {
  display: flex;
  position: absolute;
}

.logic-text-offset {
  margin-right: auto;
}

.logic__title {
  padding-top: 8px;
  padding-bottom: 0;
  align-items: baseline;
}

.logic__title--right {
  padding-left: 20px;
}
.logic__title--right:first-child {
  padding-left: 23px;
}
.logic__title--right-date {
  padding-left: 93px;
}

.logic__title--left {
  padding-left: 20px;
}

.logic__title--left:first-child {
  padding-left: 35px;
}

.logic__title--indent {
  padding-left: 22px;
}

.logic__img--reverse {
  margin-left: -59px;
}

.logic__item-block--reverse {
  width: 647px;
  height: 42px;
  top: -40px;
  left: 0px;
  padding-left: 0px;
  border-radius: 40px 4px 0px 0px;
  transform: skewX(0deg);
  display: flex;
  align-items: center;
  background-color: var(--item-block-bgc);
}

.logic__wrapper-date--revers {
  margin-left: 1px;
  position: absolute;
  left: 0;
  border-radius: 4px 4px 4px 0px;
}

.logic__img--revers {
  border-radius: 0px 0px 10px 10px;
}

.logic__aside-title--revers {
  padding-top: 0px;
  padding-bottom: 23px;
  padding-left: 20px;
}

/* footer */
.footer {
  margin-top: 64px;
}

.background-footer {
  background-color: var(--bcg-color-footer);
}

.background-img {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/sec-footer/backgr-footer.png);
}

.footer__wrapper {
  display: flex;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.08;
  color: var(--secondary-text-color);
}

.footer__logo {
  margin-left: 35px;
  margin-right: 96px;
}

.footer__img {
  width: 190px;
  height: 40px;
  margin-bottom: 98px;
  margin-top: 130px;
}

.footer__img:hover,
.footer__img:focus {
  transform: scale(1.1);
  transition: var(--transition);
}

.footer__text-copyright {
  font-size: 12px;
  line-height: 1.18px;
  width: 290px;
}

.footer__text-copyright:hover,
.footer__text-copyright:focus {
  font-weight: 800;
  cursor: pointer;
  transition: var(--transition);
}

.footer__nav-background {
  width: 549px;
  height: 405px;
  display: flex;
  align-items: center;
  background-color: rgba(58, 111, 201, 0.6);
  transform: skewX(-10deg);
}

.footer__nav-list {
  margin-left: 225px;
  transform: skewX(10deg);
}

.footer__contacts {
  margin-left: 280px;
  margin-top: 130px;
}

.footer__link {
  display: flex;
  align-items: center;
}

.footer__item:not(:last-child) {
  padding-bottom: 15px;
}

.footer__logo-link::before {
  content: '';
  width: 25px;
  height: 25px;
  margin-right: 12px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--transition);
}

.logic::before {
  background-image: url(../images/sec-footer/svg/logic-footer.svg);
}

.logic:hover::before,
.logic:focus::before {
  background-image: url(../images/sec-hero/svg/logicrgb.svg);
}

.coin::before {
  background-image: url(../images/sec-footer/svg/coin-footer.svg);
}

.coin:hover::before,
.coin:focus::before {
  background-image: url(../images/sec-hero/svg/coinrgb.svg);
}

.chess::before {
  background-image: url(../images/sec-footer/svg/chess-footer.svg);
}

.chess:hover::before,
.chess:focus::before {
  background-image: url(../images/sec-hero/svg/chessrgb.svg);
}

.classics::before {
  background-image: url(../images/sec-footer/svg/classics-footer.svg);
}

.classics:hover::before,
.classics:focus::before {
  background-image: url(../images/sec-hero/svg/classicsrgb.svg);
}

.holiday::before {
  background-image: url(../images/sec-footer/svg/holiday-footer.svg);
}

.holiday:hover::before,
.holiday:focus::before {
  background-image: url(../images/sec-hero/svg/holidayrgb.svg);
}

.footer__text-contact {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.08px;
  margin-bottom: 130px;
}

.footer__text-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
}

.footer__link--hover:hover,
.footer__link--hover:focus {
  font-size: 13px;
}
